/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block { // This may need to be .wp-block in WordPress 5+

	.container {
		border: 1px solid $gray;
		padding: 1rem;
	}

	.button-container {
		text-align: center;
		padding: 22% 0;
		background: $off-white;
		border: 1px solid $gray;
		border-radius: 2px;
		margin: 0 0 1.2rem 0;
	}

	.heading,
	.headingtwo,
	.headingthree,
	.headingfour,
	.headingfive,
	.headingsix,
	.headingseven,
	.headingeight,
	.headingnine,
	.headingten,
	.headingeleven,
	.headingtwelve {
		font-size: 1.5rem;
		font-weight: 600;
	}

	.headingdivider,
	.headingdivider2,
	.headingdivider3,
	.headingdivider4,
	.headingdivider5,
	.headingdivider6,
	.headingdivider7,
	.headingdivider8,
	.headingdivider9,
	.headingdivider10,
	.headingdivider11,
	.headingdivider12 {
		font-size: 1.5rem;
		font-weight: 600;
		margin-bottom: 1.618em;
	}

	.img_cap,
	.img_cap2,
	.img_cap3,
	.img_cap4,
	.img_cap5,
	.img_cap6,
	.img_cap7,
	.img_cap8,
	.img_cap9,
	.img_cap10,
	.img_cap11,
	.img_cap12 {
		margin-top: 1.618em;
	}

	.card_body_text {
		margin-top: 1.618em;
	}

	.image {
		height: 15.7rem;
		width: 100%;
		object-fit: cover;
	}
}
