/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-cgb-block-donation-block.panel-group {

	h2 {
		margin-top: 1.618em;
	}

	.panel.panel-default .panel-heading {
		background-color: $boss-background !important;
	}

	.panel.panel-default .panel-heading:hover {
		background-color: $boss-orange !important;
	}

	.panel .panel-title a h3 {
		color: #77715e;
	}

	.panel .panel-title a h3:hover {
		color: $bright-white;
	}

	.panel .panel-title a {
		text-decoration: none !important;
	}

	.panel-default .panel-collapse .panel-body {
		background-color: $dark-white;
	}

	.card.blockimg img {
		margin: 0 auto 1.618em auto;
	}

	.card__body,
	.card__body2,
	.card__body3,
	.card__body4,
	.card__body5,
	.card__body6,
	.card__body7,
	.card__body8,
	.card__body9,
	.card__body10,
	.card__body11,
	.card__body12,
	.card__body13,
	.card__body14,
	.card__body15 {
		font-size: 1.8rem;
	}

	.img_cap,
	.img_cap2,
	.img_cap3,
	.img_cap4,
	.img_cap5,
	.img_cap6,
	.img_cap7,
	.img_cap8,
	.img_cap9,
	.img_cap10,
	.img_cap11,
	.img_cap12,
	.img_cap13,
	.img_cap14,
	.img_cap15 {
		text-align: center;
		margin-top: 10px;
	}
}

/** Fontawesome
============================ */
#headingOne .paneltitle.rotate-click a .rotate,
#headingTwo .paneltitle.rotate-click a .rotate,
#headingThree .paneltitle.rotate-click a .rotate,
#headingFour .paneltitle.rotate-click a .rotate,
#headingFive .paneltitle.rotate-click a .rotate,
#headingSix .paneltitle.rotate-click a .rotate,
#headingSeven .paneltitle.rotate-click a .rotate,
#headingEight .paneltitle.rotate-click a .rotate,
#headingNine .paneltitle.rotate-click a .rotate,
#headingTen .paneltitle.rotate-click a .rotate,
#headingEleven .paneltitle.rotate-click a .rotate,
#headingTwelve .paneltitle.rotate-click a .rotate,
#headingThirteen .paneltitle.rotate-click a .rotate,
#headingFourteen .paneltitle.rotate-click a .rotate,
#headingFifteen .paneltitle.rotate-click a .rotate {
	-moz-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#headingOne .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title i.rotate,
#headingTwo .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title2 i.rotate,
#headingThree .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title3 i.rotate,
#headingFour .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title4 i.rotate,
#headingFive .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title5 i.rotate,
#headingSix .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title6 i.rotate,
#headingSeven .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title7 i.rotate,
#headingEight .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title8 i.rotate,
#headingNine .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title9 i.rotate,
#headingTen .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title10 i.rotate,
#headingEleven .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title11 i.rotate,
#headingTwelve .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title12 i.rotate,
#headingThirteen .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title13 i.rotate,
#headingFourteen .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title14 i.rotate,
#headingFifteen .paneltitle.rotate-click a[aria-expanded="true"] h3.card__title15 i.rotate {
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
#headingOne .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title i.rotate,
#headingTwo .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title2 i.rotate,
#headingThree .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title3 i.rotate,
#headingFour .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title4 i.rotate,
#headingFive .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title5 i.rotate,
#headingSix .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title6 i.rotate,
#headingSeven .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title7 i.rotate,
#headingEight .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title8 i.rotate,
#headingNine .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title9 i.rotate,
#headingTen .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title10 i.rotate,
#headingEleven .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title11 i.rotate,
#headingTwelve .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title12 i.rotate,
#headingThirteen .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title13 i.rotate,
#headingFourteen .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title14 i.rotate,
#headingFifteen .paneltitle.rotate-click a[aria-expanded="false"] h3.card__title15 i.rotate {
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	transform:rotate(-0deg);
}

.fas.fa-2x.fa-caret-right {
	position: relative;
	top: 8px;
	padding-left: .2em;
}
